flask>=3.1.0
Flask-SQLAlchemy>=3.1.1 # For ORM and database management
sqlalchemy>=2.0.21 # SQL toolkit and ORM
Flask-Login>=0.6.3 # For user session management
Flask-WTF>=1.2.2 # Includes WTForms
Werkzeug>=3.1.3 # For password hashing, check compatibility
email-validator>=2.2.0 # For email validation in WTForms
python-dotenv>=1.1.0 # To load environment variables from .env file
python-magic>=0.4.27  # For file type detection
Flask-Migrate>=4.1.0 # For database migrations
